.env
.venv
*.bak
checkpoints/
runs/
data/mnist/
data/cifar10/
data/retinopathy

__pycache__/
.pyc_cache/
*.py[cod]
.ipynb_checkpoints
__pypackages__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/

zibaldone.md
/logs
*.ckpt
